.section {
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(165, 66, 165);
  width: 700px;
  margin: 30px auto;
  padding: 15px;

  border-radius: 30px;

  box-shadow: 8px 8px 14px 0px rgba(0, 0, 0, 0.7);
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 7px;
}