.item {
  display: flex;
  justify-content: space-between;
}

.item:not(:last-child) {
  margin-bottom: 5px;
}

.text {
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.button {
  background-color: #424db2;
  padding: 8px 16px;
  border-radius: 3px;
  transition: all 200ms ease;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  min-width: 180px;
}
.button:hover {
  background: #07b455;
}
.container {
  border-radius: 5px;
  padding: 10px;
}
.list {
  padding-left: 10px;
  margin: 0;
}